.task {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: .75rem;
  padding: 1rem;
  background: var(--gray-400);
  border-radius: 8px;
  margin-bottom: 1rem;

  height: 4.5rem;

  font-size: 0.875rem;
}

.task p{
  width: 100%;
}

.text_unchecked {
  font-size: .875rem;
  color: var(--gray-100);
}

.text_checked {
  font-size: .875rem;
  color: var(--gray-300);
  text-decoration: line-through;
}

.radio_checked {
  background: none;
  border: none;
  cursor: pointer;

  color: var(--purple-dark);
}

.radio_unchecked {
  background: none;
  border: none;

  cursor: pointer;

  color: var(--blue);
}

.trash {
  background: none;
  border: none;

  cursor: pointer;

  color: var(--gray-300);

  transition: background-color 0.1s;
}

.trash:hover {
  color: var(--danger);
}