.task {
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
  padding: 1rem;
  background: var(--gray-400);
  border-radius: 5px;

  height: 4.5rem;

  font-size: 0.875rem;
}

.radio_checked {
  background: none;
  border: none;
  cursor: pointer;

  color: var(--purple-dark);
}

.radio_unchecked {
  background: none;
  border: none;

  cursor: pointer;

  color: var(--blue);
}

.trash {
  background: none;
  border: none;

  cursor: pointer;

  color: var(--gray-300);

  transition: background-color 0.1s;
}

.trash:hover {
  color: var(--danger);
}